{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "nestjs",
    "plugin:import/warnings",
    "plugin:import/typescript",
  ],
  "plugins": ["prettier", "simple-import-sort", "import"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
      },
    ],
    "prettier/prettier": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-unused-vars": "off",
    /*
      import eslint
    */
    "import/export": "error",
    "import/first": "error",
    "import/namespace": "error",
    "import/no-duplicates": "error",
    "import/no-relative-packages": "error",
    "import/newline-after-import": "error",
    "import/no-absolute-path": "error",
    "import/no-default-export": "error",
    "import/no-self-import": "error",
    "import/no-deprecated": "error",
    "import/no-cycle": "off",
    "import/no-namespace": "off",
    "import/no-useless-path-segments": [
      "error",
      {
        "noUselessIndex": true,
      },
    ],
    "import/no-internal-modules": "off",
    "import/order": "off",
  },
  "ignorePatterns": ["vitest.config.ts"],
}
